version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "America/New_York"
    target-branch: "dev"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      ai:
        patterns:
          - "@ai-sdk/*"
          - "ai"
      next:
        patterns:
          - "next"
          - "next-*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "use-local-storage-state"
      radix:
        patterns:
          - "@radix-ui/*"
      types:
        patterns:
          - "@types/*"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
          - "tw-animate-css"
          - "tailwind-merge"
      eslint:
        patterns:
          - "eslint"
          - "@typescript-eslint/*"
          - "eslint-*"
      prettier:
        patterns:
          - "prettier"
          - "eslint-config-prettier"
          - "prettier-plugin-*"
      stylelint:
        patterns:
          - "stylelint"
          - "stylelint-*"
      postcss:
        patterns:
          - "postcss"
          - "postcss-*"
          - "autoprefixer"
      conventional-changelog:
        patterns:
          - "conventional-changelog*"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "America/New_York"
    target-branch: "dev"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
